body {
    position: relative;
}

header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: #FF005E;
    background: -webkit-gradient (linear, right top, left top, from(#FF005E), to(#FF4E00));
    background: linear-gradient(to left, #FF005E, #FF4E00);
}
    
.featurette-divider {
    margin: 5rem 0;
}
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.navbar.bg-light {
    transition: 500ms ease;
    background: transparent !important;
}

.navbar.bg-light.scrolled {
    background: #F9F9F9 !important;
}

nav > ul > li > a {
    text-decoration: none;
}

.nav-link{
    position:relative;
}
.nav-link:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom:-4px; /*Change this to increase/decrease distance*/
    border-bottom: 4px solid #ffffff;  
}